.canvas-area {
    position: relative;
    width: 360px;
    margin: 0 auto;
}

.dragging-area {
    position: absolute;
    width: 358px;
    height: 638px;
    top: 1px;
    left: 1px;
}

.button-group {
    text-align: center;
}

.button-group > button {
    margin: 10px 0;
}

.hiddenVideo {
    position: absolute;
    z-index: -1;
    left: 0;
    visibility: hidden;
}